@import "tailwindcss";
@import "@heroui/styles"; 

* {
  font-family: 'Josefin Sans', sans-serif !important;
}

body {
  font-family: 'Josefin Sans', sans-serif !important;
}

.bg-linear-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-linear-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}